* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
}

body {
  position: relative;
  font-size: 1rem;
  background-image: url("./background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  min-height: 100vh;
  padding: 1.25rem;
  /* background: linear-gradient(
    90deg,
    rgba(9, 121, 112, 1) 17%,
    rgba(9, 121, 120, 1) 53%,
    rgba(9, 103, 121, 1) 77%
  ); */
}
.error-message {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  color: red;
  letter-spacing: 1.3px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 30px;
  border-radius: 10px;
  display: none;
  transition: display ease-out 0.3s;
}

.active {
  display: block;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
}

.current-forecast,
.hourly-forecast,
table {
  background: rgba(0, 0, 0, 0.54);
}

.current-forecast {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.current-forecast:first-child {
  display: flex;
  justify-self: start;
}
.search {
  display: flex;
  align-self: flex-start; /* Align this child to the start (left) */
  padding-left: 20px;
  align-items: center;
  gap: 20px;
}
input {
  appearance: none;
  border: none;
  padding: 5px;
  outline: none;
}
.input {
  background-color: #ffffff;
  padding: 5px;
  display: flex;
  align-items: center;
}
button {
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
}
.hourly-forecast__item {
  flex: 1;
}

.hourly-forecast {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
}

tr:first-child {
  border-top: 1px dotted grey;
}

/* tr:not(:last-child) {
  border-bottom: 1px dotted grey;
} */
.last-item {
  height: 0;
  overflow-y: hidden;
}
p {
  margin: 0;
  padding: 0 10px;
}
.daily-forecast__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.last-item {
  flex: 1;
}
.daily-forecast__item * {
  flex: 1;
}

.hourly-forecast__time {
  padding: 0 5px;
}

.arrow {
  transform-origin: center;
}

.daily-forecast__wind {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.daily-forecast__temps {
  display: flex;
  justify-content: space;
  gap: 10px;
  text-align: end;
}

thead tr {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.temp-low {
  color: #a5d6ff;
}

@media (min-width: 580px) {
  .card {
    width: 33.75rem;
  }
}
