body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  font-family: "Luckiest Guy", cursive;
  background-color: #dbdcdc;
}

.grid {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  width: 500px;
  height: 500px;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  font-size: 4rem;
  min-width: 100px;
  min-height: 100px;
}

.no-t {
  border-top: none;
}

.no-r {
  border-right: none;
}

.no-b {
  border-bottom: none;
}

.no-l {
  border-left: none;
}

.img-o {
  width: 100px;
  height: 100px;
}

.img-o {
  width: 100px;
  height: 100px;
}

.img-x {
  width: 70px;
  height: 70px;
}

.winner {
  background-color: grey;
}

h1 {
  font-size: 5rem;
}
.btn-pvp {
  font-size: 2rem;
  background-color: #284c76;
  padding: 10px 30px;
  border-radius: 10px;
}
