* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

button {
  appearance: none;
  border: none;
  background: none;
  color: white;
  padding: 0;
}

body {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  background-color: #161824;
  color: #ffffff;
  padding: 1rem;
}

.list {
  width: 100%;
}

.btn {
  text-decoration: underline;
  cursor: pointer;
}

.coin {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

img {
  width: 30px;
  height: 30px;
}

.basic-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.price {
  place-self: end;
  align-self: center;
  justify-self: center;
}

.price-change {
  place-self: end;
  align-self: center;
  justify-self: end;
}

.price-change-increase {
  color: green;
}

.price-change-decrease {
  color: red;
}

span {
  display: inline-block;
}

.inactive {
  opacity: 0;
}

.rotate-arrow {
  transform: rotate(0deg) !important;
}

.pagination {
  display: flex;
  gap: 1rem;
}

@media (min-width: 600px) {
  .buttons {
    width: 580px;
  }
  .list {
    width: 580px;
  }
}
